* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}


body {
    background-color: rgba(61, 89, 124, 0.993);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    width: 800px;
    background-color: rgba(10, 23, 58, 0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
}

.title-page {
    font-size: 2.7em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.863);
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-page {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.884);
    margin-bottom: 10px;
}

.input-add {
    background-color: rgba(7, 7, 63, 0.61);
    padding: 20px;
    width: 90%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3)
}

.input-name-people {
    width: 70%;
    height: 46px;
    text-align: center;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.808);
    margin-right: 20px;
}

.input-name-people::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-name-people:focus {
    border: 1px solid rgb(2, 2, 32);
    background-color: rgba(151, 144, 144, 0.171);
}

.button-add-participant {
    font-size: 15px;
    padding: 15px 20px;
    border: none;
    background-color: crimson;
    border-radius: 4px;
    color: #fff;
    transition: transform 0.5s;
}

.button-add-participant:hover {
    background-color: rgb(143, 5, 33);
    transform: scale(1.05);
}

.participants-container {
    color: #FFF;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    border-radius: 4px;
    background-color: rgba(7, 7, 63, 0.61);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.button-generate-winner {
    font-size: 15px;
    padding: 15px 20px;
    border: none;
    background-color: rgb(45, 105, 37);
    border-radius: 4px;
    color: #fff;
    transition: transform 0.7s;
}

.button-generate-winner:hover {
    background-color: rgb(37, 128, 25);
    box-shadow: 0px 5px 30px 10px rgba(45, 117, 16, 0.596);
    transform: scale(1.03);
}

.participant-item {
    color: rgba(255, 255, 255, 0.815);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(235, 216, 216);
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.participant-item i {
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.5s;
}

.participant-item i:hover {
    box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 0.719);
    transform: scale(1.05);
}

/* Utilites */

.error{
    border: 2px solid red;
}

.error::placeholder {
    color: rgba(59, 9, 9, 0.849);
    font-style: italic;
}